<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="login center-div">
            <h2>Welcome to NLP Task APP</h2>
            <h3>What you would like to do ?</h3>
            <h3><a href="/ner">NER (Named Entity Recognition)</a></h3>
            <h3><a href="/sentiment_analysis">Sentiment Analysis</a></h3>
            <h3><a href="/language_detection">Language Detection</a></h3>
        </div>
    </div>
</body>
</html>