<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Language Detection</title>
</head>
<body>
    <div class="container">
        <div class="login center-div">
            <h2>***Language Detection***</h2>
            <form action="/detect_language" method="post">
                <label>Enter the Text</label> <br>
                <textarea style="width: 250px; height: 150px;" name="user_text"></textarea><br>
                <input type="submit", value="Extract Language">
            </form>

            <!-- This is jinja template -->
            {% if response %}
                <h3>{{response}}</h3>
            {% endif %}

            <br>
            <form action="/back_home">
                <input type="submit" value="Back To Home Page" >
            </form>
        </div>
    </div>
</body>
</html>