<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>NER (Named Entity Recognition)</title>
</head>
<body>
    <div class="container">
        <div class="login center-div">
            <h2>***NER (Named Entity Recognition)***</h2>
            <form action="/perform_ner", method='post'>
                <label> Enter the Text </label> <br>
                <textarea style="width: 250px; height: 150px;" name="ner_text"></textarea> <br>
                <input type="submit" value="Perform NER">
            </form>

            {% if result %}
                <ul>
                    {% for d in result %}
                        <li>
                            Entity: {{ d['Entity'] }}, 
                            Type: {{ d['Type'] }}, 
                            Confidence Score: {{ d['Confidence Score'] }}
                            <p>------------------------------------</p>
                        </li>
                    {% endfor %}
                </ul>
            {% endif%}

            <br>
            <form action="/back_home">
                <input type="submit" value="Back To Home Page" >
            </form>
        </div>
    </div>
</body>
</html>